<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- load title and seo description -->
    <title>Shelter</title>
    <meta name="description" content="Shelter for pets in Random city">

    <!-- block for specific page styles -->
    <link rel="stylesheet" href="style.scss">

    <!-- load global source script via Webpack alias '@scripts' -->
    <script src="@scripts/common.js" defer="defer"></script>
    <script src="shelter.js"></script>
</head>
<body>
    <!--first section-->
    <section class="start-section">
        <h1>Hello world!</h1>
    </section>
</body>
</html>